#FOLDERS

chromium/ 
coc/ 
Code/
dconf/
fish/
font-manager/
fontconfig/
gh/
github-copilot/
gtk-3.0/
htop/
lxpanel/
lxsession/
lxterminal/
neofetch/
nushell/ 
nvim/pack/
nvim/coc-settings.json
nvim/plugin/ 
openbox/
org.sparkleshare.SparkleShare/
pcmanfm/
pipewire-media-session/
procps/
pulse/
qt5ct/
rclone/

#FILES
starship.toml 
topgrade.toml
user-dirs.dirs 
user-dirs.locale






