services:
  plex:
    image: linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
    volumes:
      - /home/antjrobles/appdata/plex/config:/config
      - /home/antjrobles/gdrive/Peliculas:/movies
    restart: always
