services:
  wireguard:
    image: linuxserver/wireguard
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Europe/Madrid
      - SERVERURL=81.60.158.86
      - ALLOWEDIPS=0.0.0.0/0 #optional
      - SERVERPORT=51820 #optional
      - PEERS=4 #optional
      - PEERDNS=1.1.1.1
      - INTERNAL_SUBNET=10.13.13.0 #optional
    volumes:
      - ./config:/config
      - /lib/modules:/lib/modules
    ports:
      - 51820:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: always
