services:
  chartdb-ia:
    image: ghcr.io/chartdb/chartdb:latest
    container_name: chartdb-ia
    ports:
     - "8564:80"
    restart: unless-stopped
    init: true
    depends_on:
      - proxy
    
    env_file:
      - .env
    volumes:
      - ./chartdb-data:/var/lib/chartdb
      - ./config.js:/usr/share/nginx/html/config.js:ro
      
  proxy:
    image: nginx:alpine
    container_name: proxy
    volumes: 
      - ./nginx.conf.template:/etc/nginx/templates/default.conf.template:ro
    env_file:
      - .env
    ports:
      - "8080:8080"
    restart: unless-stopped
    command: /bin/sh -c "envsubst < /etc/nginx/templates/default.conf.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
  
